* {
    box-sizing: border-box;
}
body {
    background-color: #FAFAFA;
}
.menu-inferior {
    display: none;
}
.topo {
    position: fixed;
    display: flex;
    width: 935px;
    height: 54px;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DBDBDB;
    z-index: 1;
}
.container {
    display: flex;
    width: 935px;
    margin: 0 auto;
    position: relative;
}
.separador {
    height: 22px;
    width: 1px;
    background-color: #DBDBDB;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 17px;
}
.logo-instagram {
    font-size: 22px;
    margin: 16px 0;
}
.topo-back {
    background-color: #FFFFFF;
    height: 54px;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #DBDBDB;
    top: 0;
    z-index: 1;
}
.logo-img {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 23%;
}
/*.barra-busca-texto {
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    background: #FAFAFA;
    display: flex;
    padding-left: 50%;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 13px 0;
    margin-left: 212px;
}
::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #979797;
}*/
.search {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #979797;
    padding: 6px 0;
}
.barra-busca {
    display: flex;
    width: 23%;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-right: 23%;
}
.topo :last-child {
    margin-right: 0px;
}
.icons-esquerda {
    font-size: 22px;
    margin: 16px 0;
    margin-right: 2.35%;
}
.stories {
    display: flex;
    position: relative;
    margin-top: 88px;
    width: 614px;
    border: 1px solid #DBDBDB;
    background-color: #FFFFFF;
    border-radius: 3px;
    padding-top: 18px;
    padding-bottom: 34px;
    padding-left: 18px;
    overflow: hidden;
}
.storie-back {
    width: 66px;
    height: 66px;
}
.storie {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-right: 14px;
}
.storie h3 {
    margin-top: 1px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #262626;
}
.storie-img {
    position: absolute;
    top: 5px;
    left: auto;
    position: absolute;
}
.principal {
    width: 614px;
    margin-top: 24px;
}
.cima-post {
    display: flex;
    height: 32px;
    margin-top: 15px;
    margin-left: 17px;
    margin-bottom: 13px;
    align-items: center;
}
.post {
    border: 1px solid #DBDBDB;
    background-color: #FFFFFF;
    border-radius: 3px;
}
.post > video {
    width: 100%;
}
.cima-post h4 {
    margin-left: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-right: 460px;
}
.cima-post ion-icon {
    font-size: 16px;
}
.baixo-post {
    display: flex;
    margin-top: 10px;
}
.baixo-post ion-icon {
    font-size: 22px;
    margin-left: 15px;
    margin-bottom: 10px;
}
.baixo-post ion-icon:last-child {
    margin-left: 461px;
}
.curtidas-post img {
    margin-left: 17px;
    margin-bottom: 14px;
    margin-right: 5px;
}
.curtidas-post {
    display: flex;
}
.curtidas-post h5 {
    margin-top: 2px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}
b {
    font-weight: 700;
}
.post {
    margin-top: 60px;
}
.principal > div:first-child {
    margin-top: 24px;
}
.principal > div:last-child {
    margin-bottom: 50px;
}
.conteudo {
    display: flex;
}
.sidebar {
    position: fixed;
    width: 293px;
    top: 88px;
    right: 15%;
}
.perfil-principal {
    margin-top: 23px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.img-main-perf {
    margin-right: 17px;
}
.perfil-principal h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}
.perfil-principal h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #8E8E8E;
}
.sugestoes {
    display: flex;
    margin-bottom: 18px;
}
.sugestoes h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #8E8E8E;
    margin-right: 120px;
}
.sugestoes h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #262626;;
}
.perf-sug {
    display: flex;
    margin-bottom: 16px;
}
.perf-sug img {
    margin-right: 11px;
    align-items: center;
    width: 32px;
    height: 32px;
}
.perf-sug h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
    margin-bottom: 6px;
}
.perf-sug h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #8E8E8E;
}
.sobre {
    margin-top: 17px;
    margin-bottom: 18px;
}
.sobre h5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #C7C7C7;
    margin-bottom: 18px;
}
.seguir {
    display: flex;
}
.seguir-texto {
    margin-left: 87px;
}
.seguir-texto h5{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #139EF2;
    margin-bottom: 37px;
}
.vector {
    position: absolute;
    right: 0;
    top: 40px;
}
@media (max-width: 935px) {
    .container {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .topo {
        width: 100%;
    }
    .sidebar {
        display: none;
    }
}
@media (max-width: 614px) {
    .mob-icon {
        display: none;
    }
    .vector {
        display: none;
    }
    .stories {
        background-color: #FAFAFA;
        border: none;
        margin-top: 50px;
        margin-bottom: 0px;
        width: 100%;
    }
    .barra-busca {
        display: none;
    }
    .separador {
        display: none;
    }
    .logo-instagram {
        margin-right: 38%;
    }
    .logo-img {
        margin-right: 33%;
    }
    .topo-back {
        display: none;
    }
    .topo {
        width: 100%;
    }
    .icons-esquerda {
        margin-right: 0;
    }
    .menu-inferior {
        display: flex;
        justify-content: space-between;
        border: 1px solid #DBDBDB;
        background-color: #FFFFFF;
        border-radius: 3px;
        position: fixed;
        bottom: 0px;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .menu-inferior ion-icon {
        font-size: 22px;
        margin-top: 16px;
        margin-bottom: 16px;
    }
    .storie {
        margin-bottom: 0px;
        padding-bottom: 0;
    }
    .midia {
        width: 100%;
    }
    .cima-post ion-icon {
        margin-right: 0;
    }
    body {
        width: 100%;
    }
    .post > img, .post > video {
        width: 100%;
    }
    .principal {
        width: 100%;
    }
    .post h4 {
        margin-right: 75%;
    }
}